footer{
  .btn-text{
    text-align: center;
  }
  background-color: rgb(32,32,32);
  display: inline-block;
  width: 100%;
  height: 400px;
  font-size: 10px;
  p{
    color: darkgrey;
  }
  h2{
    color: white;
  }
  .footer-info{
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    width: 90%;

    .about-us{
      width: 200px;
      //.social-icons {
      //  margin-top: 50px;
      //  padding-left:0;
      //  display: flex;
      //  li {
      //    list-style-type:none;
      //    img {
      //      width:30px;
      //      height:30px;
      //      margin-right: 20px;
      //    }
      //  }
      //}

    }
    .recent-blog{
      .block{
        display: flex;
        margin-bottom: 20px;
        span{
          margin-right: 5px;
          img{
            width: 10px;
            height: 10px;
            margin-right: 2px;

          }
        }
        img{
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }
      }
    }
    .questions{
      .contact-info{
        display: flex;
        align-items: baseline;
        width: 150px;
        img{
          width: 10px;
          height: 12px;
          margin-right: 10px;
        }
      }
    }
  }

}